{% extends "app/layout.html" %}

{% block content %}


<div class="about">
    <h1>О компании</h1>
<p>K+S - лидер в области изготовления пневматического инструмента для профессиональных столяров и плотников. Компания  разрабатывает пневматический инструмент с 1984 года. Главные ориентиры компании - надежность, безопасность и долговечность производимого инструмента.

Миссия компании K+S - продвижение пневматического оборудования промышленного качества, и современных монтажных технологий, удовлетворяющих потребностям рынка. Более 30 лет мы совершенствуем и развиваем инструмент K+S.

При создании новых моделей инструмента, мы внимательно следим за пожелания и отзывами наших покупателей.  Новое поколение инструмента K+S стало легче и быстрее. Мы создаем надежное индустриальное оборудование для профессионалов.

Наш инструмент станет Вашим конкурентным преимуществом.</p>
    </div>

{% endblock %}
