{% extends "app/layout.html" %}
    
{% block content %}{% load staticfiles %}
       

      <div class="images">

        <div class="client1">
      <a href ="http://remontnikdv.ru/" target="_blank"> <img src="{% static 'app/content/1.png' %}" alt="Logo 1"/></a>
          <p>Существует такое мнение, что ремонт нельзя закончить, его можно только остановить. Но это, если осуществлять его собственными силами. А если доверить ремонт квартиры под ключ нам, вы гарантировано получите комплекс работ, доведенных до логического завершения.
            Мы – команда профессионалов, и готовы выполнить как косметический, так и капитальный ремонт согласно вашим пожеланиям и бюджету. В данной сфере мы имеем огромный опыт.
            Наш девиз: «Комфортное жильё – довольный клиент!».</p></div>
      
        
<div class="client2">
      <a href ="http://stroikapskov.ru/o-nas.html" target="_blank"> <img src="{% static 'app/content/2.png' %}" alt="Logo 1"/></a>
          <p>Строительная компания «СтройкаПсков» основана в 2008 году. В начале своей деятельности мы специализировались только на кровельных работах и со временем приобрели бесценный опыт и хорошую репутацию у клиентов. В процессе нашего роста мы расширили сферу услуг на отделочные работы с фасадами зданий, возведение и отделку различных видов фундаментов, внутренние отделочные работы. Накопленный опыт и пополнение команды специалистами в сфере инженерных систем и коммуникаций позволили нам выйти на новый уровень - строительство домов "под ключ".
    Также немаловажное внимание мы уделили направлению ремонта квартир как косметического так и капитального..</p></div>
      
<div class="client3">
      <a href ="https://amositeasbestos.com/o-nas-2/" target="_blank"> <img src="{% static 'app/content/3.png' %}" alt="Logo 1"/></a>
          <p>Одним из приоритетов нашей деятельности является выполнение высококачественного капитального ремонта квартир любого уровня сложности, который, естественно, включает ремонтно отделочные работы в помещениях жилого и нежилого типа.

Наша основная специализация – это внутренние отделочные работы, которые мы выполняем с абсолютной безупречностью и в срок, на все работы мы даем гарантию..</p></div>
      
</div>

      
   
{% endblock %}

